<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>Internet Speed Tester</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f7f9fc;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            color: #333;
        }

        .container {
            width: 60%;
            max-width: 600px;
            margin: 20px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .header {
            margin-bottom: 20px;
        }

        h1 {
            font-size: 28px;
            color: #2c3e50;
            margin: 0;
        }

        .title {
            font-size: 2rem;
            margin-bottom: 1rem;
            color: #2980b9;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        }

        .speedometer {
            display: none;
            position: relative;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: radial-gradient(circle, #f3f3f3 60%, #ddd 100%);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), inset 0 0 5px rgba(0, 0, 0, 0.5);
            overflow: hidden;
            margin: 20px auto;
        }

        .speedometer .arc {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: conic-gradient(red, orange, yellow, green, cyan, red);
            transform-origin: center;
            animation: fillArc 2s linear infinite;
        }

        .speedometer .mask {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            top: 13px;
            left: 5px;
            background-color: #ffffff;
            z-index: 2;
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
        }

        .speedometer .pointer {
            position: absolute;
            width: 3px;
            height: 30px;
            background: red;
            top: 0;
            left: 28px;
            transform-origin: bottom center;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            z-index: 3;
            animation: rotateNeedle 2s linear infinite alternate;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        }

        .speedometer .center-cap {
            position: absolute;
            width: 8px;
            height: 8px;
            background-color: black;
            border-radius: 50%;
            top: 26px;
            left: 26px;
            z-index: 4;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        @keyframes fillArc {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(-360deg);
            }
        }

        @keyframes rotateNeedle {
            0% {
                transform: rotate(230deg);
            }

            100% {
                transform: rotate(490deg);
            }
        }

        .result {
            font-size: 1.5rem;
            margin: 20px 0;
            color: #000000;
        }

        .result div {
            margin: 10px 0;
            font-size: 1.2rem;
        }

        .result i {
            margin-right: 10px;
            color: #2980b9;
        }

        .btn {
            background-color: #3498db;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

        .btn:hover {
            background-color: #2980b9;
            transform: scale(1.05);
        }

        @media (max-width: 600px) {
            .container {
                padding: 15px;
            }

            h1 {
                font-size: 20px;
            }

            .title {
                font-size: 1.5rem;
            }

            .loader-widget {
                padding: 20px 10px;
            }

            .loader {
                width: 80px;
                height: 80px;
            }

            .btn {
                font-size: 0.9rem;
            }

            .result {
                font-size: 1rem;
            }

            .result div {
                font-size: 1rem;
                color: #211212;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Internet Speed Tester</h1>
        </div>
        <button onclick="checkSpeed()" type="button" class="btn active"
            style="font-size: 2rem;color: white; background-color: #211212;">
            <img src="./performance.png" alt="Speed Test Icon" style="max-width: 30px; max-height: 50px;"> Speed Test
        </button>

        <div id="result" class="result"></div>
        <div class="speedometer" id="speedometer">
            <div class="arc"></div>
            <div class="mask"></div>
            <div class="pointer"></div>
            <div class="center-cap"></div>
        </div>
    </div>
    <script>
        function checkSpeed() {
            document.getElementById('speedometer').style.display = 'block';
            document.getElementById('result').innerHTML = '';
    
            fetch('/speed')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('speedometer').style.display = 'none';
                    if (data.error) {
                        document.getElementById('result').textContent = `Error: ${data.error}`;
                    } else {
                        document.getElementById('result').innerHTML = `
                            <div style="display: flex; align-items: center; justify-content: center; margin: 10px 0;">
                                <i class="fa-solid fa-download" style="font-size: 24px; color: #2980b9; margin-right: 10px;"></i>
                                <h2 style="font-size: 2rem; color: #333;">Download Speed: ${data.download} Mbps</h2>
                            </div>
                            <div style="display: flex; align-items: center; justify-content: center; margin: 10px 0;">
                                <i class="fa-solid fa-upload" style="font-size: 24px; color: #2980b9; margin-right: 10px;"></i>
                                <h2 style="font-size: 2rem; color: #333;">Upload Speed: ${data.upload} Mbps</h2>
                            </div>
                            <div style="display: flex; align-items: center; justify-content: center; margin: 10px 0;">
                                <i class="fa-solid fa-wifi" style="font-size: 24px; color: #2980b9; margin-right: 10px;"></i>
                                <h2 style="font-size: 2rem; color: #333;">Ping: ${data.ping} ms</h2>
                            </div>
                            <div style="display: flex; align-items: center; justify-content: center; margin: 10px 0;">
                                <i class="fa-solid fa-map-marker-alt" style="font-size: 24px; color: #2980b9; margin-right: 10px;"></i>
                                <h2 style="font-size: 2rem; color: #333;">Location: ${data.location}</h2>
                            </div>
                            <div style="display: flex; align-items: center; justify-content: center; margin: 10px 0;">
                                <i class="fa-solid fa-globe" style="font-size: 24px; color: #2980b9; margin-right: 10px;"></i>
                                <h2 style="font-size: 2rem; color: #333;">IP: ${data.ip}</h2>
                            </div>
                        `;
                    }
                })
                .catch(() => {
                    document.getElementById('speedometer').style.display = 'none';
                    document.getElementById('result').textContent = 'Error performing speed test.';
                });
        }
    </script>
</body>

</html>